body,
#hero footer,
#featured section,
#featured section article div,
#all-items section,
#all-items section article {
    display: flex;
}

body,
#all-items section {
    flex-direction: column;
}

body {
    align-items: center;
}

#featured section article div {
    justify-content: center;
}

#all-items section article {
    justify-content: center;
}

#hero footer {
    align-items: center;
}

#all-items section article {
    align-items: center;
}

#hero footer {
    justify-content: space-between;
}

#all-items article div:last-child { 
    flex-basis: 80%;
}

#all-items article:nth-child(even) div:first-child { /* style every other, even in this case */
    order: 2; /* assign the first div child in the even articles of #all-items position #2 */
}

#all-items article:nth-child(even) {
    flex-direction: row-reverse;
}